/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0052FF;
  --ifm-color-primary-dark: #004ae6;
  --ifm-color-primary-darker: #0046d9;
  --ifm-color-primary-darkest: #003ab3;
  --ifm-color-primary-light: #1a63ff;
  --ifm-color-primary-lighter: #266cff;
  --ifm-color-primary-lightest: #4d86ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-background-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00F0FF;
  --ifm-color-primary-dark: #00d8e6;
  --ifm-color-primary-darker: #00ccd9;
  --ifm-color-primary-darkest: #00a8b3;
  --ifm-color-primary-light: #1affff;
  --ifm-color-primary-lighter: #26ffff;
  --ifm-color-primary-lightest: #4dffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-background-color: #050505;
}
